*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html,body {
  overflow-x: hidden;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--white);

}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--first-font);
  font-size: var(--size-font);
  font-weight: var(--semi-font);
  background-color: var(--white);
  color: var(--dark-grayish-blue);
  margin: 0;
}
